index

<%= content_tag :h1, "Users" %>

<% @users.each do |u| %>
<h1>
<%= u.email %>
</h1>
<% end %>

<%= content_tag :h1, "Wizards Leaderboard" %>

<% @wizards.each do |w| %>
<h1>
<%= w.name + " at level " + w.level.to_s %>
</h1>
<%= "belongs to :" %>
<%= link_to w.user.email, user_path(w.user) %>
<% end %>

