<div class="user_new_bg_img">
	<h1 class="user_new_title_rps">
		ROCK . PAPER . SCISSORS
	</h1>
	<h1 class="user_new_title_wizard">
		WIZARDS!
	</h1>
	<div class="scroll_box">
		<div class="sign_in_box">
			<h2>Sign in</h2>
			<%= form_tag user_login_path do%>
			<%= label_tag :Email %>
			<%= text_field_tag :email %>
			<%= label_tag :Password %>
			<%= password_field_tag :password_digest %>
			<%= submit_tag :Sign_In, :value => "Sign In", method: :user_login %>
			<% end %>
		</div>
		<h2 class="user_new_box_title">Sign Up</h2>
		<div class="sign_up_box">
			<%= form_for @user do |f| %>
			<%= f.text_field :email, :class => 'sign_up_form_top form_input', :placeholder => 'Email' %>
			<%= f.password_field :password, :class => 'sign_up_form_bottom form_input', :placeholder => 'Password' %>
			<%= f.submit :create, :class => 'sign_up_create_button', :value => "Sign Up" %>
			<% end %>
		</div>
		<p>Already a memeber? <a href="#">Login</a></p>		
	</div>
</div>


