<!-- First buttons
<%= button_tag "ROCK", class: "move", id: "rock", name: "#{@wizard}" %>
<%= button_tag "PAPER", class: "move", id: "paper", name: "#{@wizard}" %>
<%= button_tag "SCISSORS", class: "move", id: "scissors", name: "#{@wizard}" %>
 -->
YOU
<table>
  <tr>
    <th><%= @wizard.name %></th>
    <th><%= @wizard.dark_or_light() %></th>
  </tr>
  <tr>
    <td><%= content_tag :span, "Level:" %></td>
	<td><%= @wizard.level %></td> 
  </tr>
  <tr>
    <td><%= content_tag :span, "Lives:" %></td>
	<td><%= @wizard.lives %></td> 
  </tr>
    <tr>
    <td><%= content_tag :span, "HP:" %></td>
	<td><%= @wizard.hp %></td> 
  </tr>
  <tr>
    <td><%= content_tag :span, "Attack:" %></td>
	<td><%= @wizard.attack %></td> 
  </tr>
  <tr>
    <td><%= content_tag :span, "Defense:" %></td>
	<td><%= @wizard.defense %></td> 
  </tr>
  <tr>
    <td><%= content_tag :span, "Belongs to User:" %></td>
	<td><%= link_to @wizard.user.email, user_path(@wizard.user) %></td> 
  </tr>
</table>
OPPONENT
<table>
  <tr>
    <th><%= @opponent.name %></th>
    <th><%= @opponent.dark_or_light() %></th>
  </tr>
  <tr>
    <td><%= content_tag :span, "Level:" %></td>
  <td><%= @opponent.level %></td> 
  </tr>
  <tr>
    <td><%= content_tag :span, "Lives:" %></td>
  <td><%= @opponent.lives %></td> 
  </tr>
    <tr>
    <td><%= content_tag :span, "HP:" %></td>
  <td><%= @opponent.hp %></td> 
  </tr>
  <tr>
    <td><%= content_tag :span, "Attack:" %></td>
  <td><%= @opponent.attack %></td> 
  </tr>
  <tr>
    <td><%= content_tag :span, "Defense:" %></td>
  <td><%= @opponent.defense %></td> 
  </tr>
  <tr>
    <td><%= content_tag :span, "Belongs to User:" %></td>
  <td><%= link_to @opponent.user.email, user_path(@opponent.user) %></td> 
  </tr>
</table>
