<!DOCTYPE html>
<html>
<head>
  <title>RockPaperWizard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="nav">
		<ul>
			<li><a href="/login">Log In</a></li>
			<li><a href="/">Sign Up</a></li>
			<li><a href="/users">All Users</a></li>
			<li><a href="wizards/new">New Wizard</a></li>
			<li><%= link_to "My Profile", user_path(@current_user.id) %></li>
		</ul>
	</div>
<%= yield %>

</body>
</html>
